{% extends 'base.html.twig' %}
{% block title  %} articles {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block body %}

    <h1>List of Articls</h1>

        {% for article in articles %}
            <ul class="article">

                <li>Name: {{ article.title   }}</li>
                <li>Description: {{ article.content  }}</li>
                <li>Note: {{ article.note | stars}}</li>
                <li><button class="buy-button" data-article-id="{{ article.id }}">Acheter</button></li>

            </ul>
        {% endfor %}
    {{ randomQuote() }}

{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/scripts.js') }}"></script>
{% endblock %}
